*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body > button{
    display: block;
    margin: 1rem auto;
    padding: 10px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 85%;
  height: 90vh;
  margin: auto;
}

.container > div {
  border: 1px solid black;
}
